<?xml version="1.0" encoding="UTF-8"?>
<beans
    xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:security="http://www.springframework.org/schema/security"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd
    http://www.springframework.org/schema/tx 
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
    http://www.springframework.org/schema/security
    http://www.springframework.org/schema/security/spring-security-3.1.xsd">

    <context:annotation-config />
    <context:component-scan base-package="pl.spot.dbk.points.server" />
    <context:property-placeholder properties-ref="properties" />
    <import resource="spring-security.xml" />

    <!-- Mapping to properties files -->
    <bean
        id="properties"
        class="org.springframework.beans.factory.config.PropertiesFactoryBean">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
                <value>classpath:hibernate.properties</value>
                <value>classpath:messages.properties</value>
            </list>
        </property>
    </bean>

    <!-- Mapping to language properties folder -->
    <bean
        id="messageSource"
        class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property
            name="basename"
            value="classpath:/content/messages" />
        <property
            name="defaultEncoding"
            value="${source.encoding}" />
    </bean>

    <!-- Internationalization -->
    <bean
        id="localResolver"
        class="org.springframework.web.servlet.i18n.SessionLocaleResolver">
        <property
            name="defaultLocale"
            value="en" />
    </bean>

    <bean
        id="localeChangeInterceptor"
        class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property
            name="paramName"
            value="lang" />
    </bean>

    <bean class="org.springframework.web.servlet.mvc.method.annotation.RequestMappingHandlerMapping">
        <!-- class="org.springframework.web.servlet.mvc.annotation.DefaultAnnotationHandlerMapping" -->
        <property name="interceptors">
            <list>
                <ref bean="localeChangeInterceptor" />
            </list>
        </property>
    </bean>

    

    


</beans>