@CHARSET "UTF-8";

@font-face {
	font-family: helvetica;
	src: url('Helvetica.ttf');
}

body {
	font-family: helvetica;
}

#wrapper {
	width: 900px;
	color: black;
	border-left: 2px solid maroon;
	border-right: 2px solid maroon;
	padding: 10px;
}

#wrapper,#content,#footer,#header { /* 	width: 850px; */
	margin: 0 auto;
}

td a:visited,td a:link,td a:active {
	text-decoration: none;
	color: black;
	background-color: transparent;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: white;
	background-color: red;
}

a:active {
	color: #0000FF;
}

td {
	border-left: 1px solid red;
	border-right: 1px solid red;
	margin: 0;
	padding: 5px;
	border-bottom: 1px solid maroon;
}

tr {
	border-top: 1px solid maroon;
}

tr:nth-child(odd) {
	background: #dcc
}

th {
	padding: 0 5px;
	color: white;
	background-color: maroon;
	border: 2px maroon solid
}

#footer {
	margin-top: 40px;
	text-align: center;
	border: 1px marron solid;
	background-color: maroon;
	padding: 5px 0;
	color: white;
}

#header {
	background-color: maroon;
	color: white;
	background-image: url(http://lorempixel.com/900/200/technics);
}

#header p {
	text-align: right;
	padding-right: 10px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

input {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #d60404), color-stop(1, #a30505) );
	background: -moz-linear-gradient(center top, #d60404 5%, #a30505 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d60404', endColorstr='#a30505' );
	background-color: #d60404;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #780000;
	display: inline-block;
	color: #ffffff;
	font-family: arial;
	font-size: 15px;
	font-weight: bold;
	padding: 6px 24px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #000000;
}

input:hover {
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a30505), color-stop(1, #d60404) );
	background: -moz-linear-gradient(center top, #a30505 5%, #d60404 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a30505', endColorstr='#d60404' );
	background-color: #a30505;
}

input:active {
	position: relative;
	top: 1px;
}